/* ===================== Підключаємо шрифти =====================> */
@font-face {
    font-family: kamerik-3d;
    src: url(./fonts/kamerik205-heavy.woff2);
    font-weight: 400;
}
@font-face {
    font-family: merriweather-italic-3d;
    src: url(./fonts/merriweather-regular-italic.woff2);
}
/* ===================== Задаємо змінні ========================> */
    :root{
        --index: calc(1vw + 1vh);
        --textColor: #8baaba;
        --menuColor: #6a7b70;
        --backgroundColor: #2a5;
        --inputColor:  #1270357d;
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overscroll-behavior: none;
}
body {
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
    overscroll-behavior-y: contain;
    overflow: hidden;
    user-select: none;
}

#canvasMS {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColor);
    z-index: -1;
}

.tools {
    position: absolute;
    height: 100%;
    left: 0%;
    top: 0;
   
    display: flex;
    flex-direction: column;
    gap: var(--index);
  
    margin-left: var(--index);
    justify-content: center;
    z-index: 10;
}

.fail{
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    
    display: flex;
    flex-direction: column;
    gap: var(--index);
    margin-right: var(--index);
    justify-content: center;
    z-index: 10; 
}
.scale-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: var(--index);
    margin-bottom: var(--index);
    margin-right: var(--index);
    justify-content: center;
    z-index: 10;
}
.box{
    position: absolute;
    left: 0;
    bottom: 0; 
    width: calc(var(--index) * 22.5);
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(var(--index) * 3.25);
    margin-left: calc(var(--index) * 2 + var(--index) * 3.25);
    margin-bottom: var(--index);

    background-color: transparent;
    border: none;
   
    cursor: pointer;
}
.range {
    --range-size:  calc(var(--index) * 1.125);
    --border-size: calc(var(--index) * .125);

    width: 70%;
    height:  var(--range-size);
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background-color: transparent;
    border: var(--border-size) solid transparent;
    border-radius: var(--range-size);
    box-shadow: -.25rem -.25rem .5rem rgba(255, 255, 255, .1),
                 .25rem  .25rem .5rem rgba(0, 0, 0, .35),
                 inset -.25rem -.25rem .5rem rgba(255, 255, 255, .1),
                 inset  .25rem  .25rem .5rem rgba(0, 0, 0, .35);
    overflow: hidden;
}
.range::-webkit-slider-thumb {
    position: relative;
    appearance: none;
    background-color: var(--inputColor);
    width: calc(var(--range-size) - var(--border-size));
    height: calc(var(--range-size) - var(--border-size));
    border-radius: 50%;
    box-shadow: -407px 0 0  400px var(--inputColor);
    cursor: grab;
    
}


#rangeValue{
    position: relative;
    text-align: center;
    width: calc(var(--index) * 3.25);
    
    font-size: calc(var(--index)* 1.125);
    font-family: kamerik-3d;
    /* color: #fff; */
    
    margin-left: calc(var(--index) * 1.25);
    background-color: transparent;
    border: calc(var(--index) * .125) solid transparent;
    border-radius: .625rem;
    box-shadow: -.25rem -.25rem .5rem rgba(255, 255, 255, .1),       
                 .25rem  .25rem .5rem rgba(0, 0, 0, .35);
}
#rangeValue:active{
    box-shadow: 
    inset -.25rem -.25rem .5rem rgba(255, 255, 255, .1),
    inset  .25rem  .25rem .5rem rgba(0, 0, 0, .35);
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--index) * 3.25);
    width: calc(var(--index) * 3.25);
    margin-left: auto;
    /* розмір SVG */
    font-size: calc(var(--index)* 2.325);

    background-color: transparent;
    border: calc(var(--index) * .35) solid transparent;
    border-radius: .625rem;
    box-shadow: -.25rem -.25rem .5rem rgba(255, 255, 255, .1),       
                 .25rem  .25rem .5rem rgba(0, 0, 0, .35);
    cursor: pointer;
}

.button.active { 
    line-height: calc(var(--index) * 2);
    border: 0rem solid var(--textColor);
    box-shadow:        
          inset -.5rem -.5rem 1rem rgba(255, 255, 255, .1),
          inset  .5rem  .5rem 1rem rgba(0, 0, 0, .35);
}


.button:active { 
    line-height: calc(var(--index) * 2);
    border: 0rem solid var(--textColor);
    box-shadow:        
          inset -.5rem -.5rem 1rem rgba(255, 255, 255, .1),
          inset  .5rem  .5rem 1rem rgba(0, 0, 0, .35);
}
/* =========================================================================> */


.fail .input-wrapper{
   display: flex;
   position: relative;
}
.fail .input-wrapper input {
    display: none;
    height: calc(var(--index) * 3.25);
    width: calc(var(--index) * 13);
    margin-right: calc(var(--index) * .6);
    text-align: center;
    /* line-height: 12px; */
    font-size: calc(var(--index) * 1.25);
    
    background-color: transparent;
    color: var(--textColor);
    opacity: 0;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
}
@keyframes slideRight {
    0%{
        transform: translatex(-10vh);
        opacity: 0;
    }
    100%{
        transform: translatex(0);
        opacity: 1;
    }
} 
@keyframes slideLeft {
    0%{
        transform: translatex(0);
        opacity: 1;
    }
    100%{
        transform: translatex(-10vh);
        opacity: 0;
    }
} 
.fail .input-wrapper .line {
    position: absolute;
    left: 0;
    bottom: calc(var(--index) * .225);
    width: calc(var(--index) * 13);
    height: 1px;
    border-radius: 5px;
    background: var(--textColor);
    box-shadow: -.25rem -.25rem .5rem rgba(255, 255, 255, .1),       
                 .25rem  .25rem .5rem rgba(0, 0, 0, .35),
          inset -.25rem -.25rem .5rem rgba(255, 255, 255, .1),
          inset  .25rem  .25rem .5rem rgba(0, 0, 0, .35);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;    
}
.fail .input-wrapper .icon.close {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(var(--index) * .675);
    width: calc(var(--index) * .675);
    transform: scale(0);
    transition: transform .5s linear; 
}
.fail .input-wrapper .icon.close .ionicon {
    height: 100%;
    width: auto;
    stroke: var(--textColor);
    fill: rgba(255, 255, 255, .1);
    filter: 
    drop-shadow(1px 1px 1px rgba(0, 0, 0, .65));
}

.load {
    display: flex;
}
select {
    display: none;
    width: calc(var(--index) * 13);
    margin-right: calc(var(--index) * .6);
    background-color: transparent;
    font-size:  calc(var(--index) * 1.25);
    color: var(--menuColor);
    opacity: 0;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    }

select#load option{
    background: var(--backgroundColor);
}