/* ===================== Підключаємо шрифти =====================> */
@font-face {
    font-family: kamerik-3d;
    src: url(./fonts/kamerik205-heavy.woff2);
    font-weight: 400;
}
@font-face {
    font-family: merriweather-italic-3d;
    src: url(./fonts/merriweather-regular-italic.woff2);
}


/* ===================== Задаємо змінні ========================> */
    :root{
        --index:    calc(1vw + 1vh);

        --textSize: calc(var(--index) * 1.25);
        --svgSize:  calc(var(--index)* 2.325);

        --textColor: #8baaba;
        --menuColor: #6a7b70;
        --backgroundColor: #2a5;
        --inputColor:  #0303037d;

        --boxShadow: -.125rem -.125rem .25rem rgba(255, 255, 255, .1),       
                      .125rem  .125rem .25rem rgba(0, 0, 0, .35);

      
    }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overscroll-behavior: none;
}
body {
    display: flex;
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    overscroll-behavior-y: contain;
    overflow: hidden;
    user-select: none;
    z-index: -900;
}

#canvasMS {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColor);
    z-index: -1;
}
button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--index) * 3.25);
    width: calc(var(--index) * 3.25);

    margin-left: auto;
    /* розмір SVG */
    font-size: var(--svgSize);
    backdrop-filter: blur(30px);

    background-color: transparent;
    border: calc(var(--index) * .35) solid transparent;
    border-radius: .625rem;
    box-shadow: var(--boxShadow);
    cursor: pointer;
}

button:active, button.active { 
    color:  rgba(0, 0, 0, .35);
    border: 0rem solid var(--textColor);
    box-shadow:        
          inset -.5rem -.5rem 1rem rgba(255, 255, 255, .1),
          inset  .5rem  .5rem 1rem rgba(0, 0, 0, .35);
}

/* ========================================================================> */
.editor-bar{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(var(--index) * 20);
    gap: var(--index);
    margin-top: var(--index);
    margin-left: var(--index);
    justify-content: center;
}

.editor-bar span{
    display: flex;
    justify-content: left;
    font-size:  var(--textSize);
    color: var(--textColor);
}

.editor-bar .btnEditor{
    display: flex;
    width: calc(var(--index) * 10);
    justify-content: left;
    gap: calc(var(--index) * 1.25);
  
}
.editor-bar .btnEditor button{
    margin: 0;
}

/* ========================================================================> */
.arrow-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: var(--index);
    height: calc(var(--index) * 5);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes slideArrowUp {
    0%{
        height: calc(var(--index) * 5);
    }
    100%{
        height: calc(var(--index) * 17.5);
    }
} 
@keyframes slideArrowDouwn {
    0%{
        height: calc(var(--index) * 17.5);
    }
    100%{
        height: calc(var(--index) * 5);
    }
}
.arrow{
    height: calc(var(--index) * 2.5);
    width: calc(var(--index) * 2.5);
    background-color: transparent;
    /* розмір SVG */
    font-size: var(--textSize);
    rotate: 90deg;
    
    cursor: pointer;
}

.arrow:active{
    color: wheat;
}

/* ========================================================================> */
.navig-bar-tools{
    display: flex;

    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    
    margin-left: var(--index);
}
.navig-bar-tools .bar.graph,
.navig-bar-tools .bar.marking{
    display: flex;
    position: absolute;
    left:0%;
    top: 0%;
    scale: 0;
    transform:  translateY(-50%)
                perspective(1000px)    
                rotatex(0deg);
    transform-style: preserve-3d;
    transition: .5s;
}
.navig-bar-tools .background{
    display: flex;
    position: fixed;
    left:0%;
    top: -150%;
    height: calc(var(--index) * 10);
    width: calc(var(--index) * 2.75);
    background-color: var(--backgroundColor);
    /* background: transparent; */
    
    scale: 1;
  
    transform-origin: center; 
    
    transform-style: preserve-3d;
    transform:rotatex(0deg);
}
@keyframes toolsBarOn {
    0%   { scale: 0 }
    100% { scale: 1 }
} 
@keyframes toolsBarOff {
    0%   { scale: 1 }
    100% { scale: 0 }
}
.graph, .marking {
    position: absolute;
    height: calc(var(--index) * 2.5);
    width: calc(var(--index) * 2.5);
    font-size: var(--textSize);
    display: flex;
    scale: 0;

    transform-origin: center; 
    transform-style: preserve-3d;
}
.graph{
    --degrees: calc(var(--i) * 40deg);
    --distance: calc(var(--index) * 5.25);
    color: green;
}
.marking{
    --degrees: calc(var(--i) * 51.48deg);
    --distance: calc(var(--index) * 4.25);
    color: red;
}
@keyframes slideAppear {
    0%{
        scale: 0;
        transform: rotatex(0) translateZ(0);
    }
    100%{
        scale: 1;
        transform: rotatex(var(--degrees)) translateZ(var(--distance));
    }
} 
@keyframes slideDisappear {
    0%{
        scale: 1;
        transform: rotatex(calc(var(--degrees) * -1)) translateZ(var(--distance));
    }
    100%{
        scale: 0;
        transform: rotatex(0) translateZ(0);
    }
}

/* ========================================================================> */
.fail{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: var(--index);
    margin-right: var(--index);
    justify-content: center;
    z-index: 10; 
}

/* ========================================================================> */
.scale-bar {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    gap: var(--index);
    margin-bottom: var(--index);
    margin-right: var(--index);
    justify-content: center;
    z-index: 10;
}
.indicator-zoom{
    --size: calc(var(--index) * 2.65);
    position: absolute; 
    left: 50%;
    top: var(--size);
    transform: translateX(-50%);
    display: none;
    
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    box-shadow: -.25rem -.25rem .5rem rgba(255, 255, 255, .1),
                .25rem  .25rem .5rem rgba(0, 0, 0, .35),
                inset -.25rem -.25rem .5rem rgba(255, 255, 255, .1),
                inset  .25rem  .25rem .5rem rgba(0, 0, 0, .35);
}
.indicator-zoom span{
    display: flex;
    font-size: calc(var(---size) * .5);
    text-align: center;
    font-weight: 100;
    /* color: blue; */
    margin: auto;
}
@keyframes slideDouwn {
    0%{
        transform: translatey(-10vh);
        opacity: 0;
    }
    100%{
        transform: translatey(0);
        opacity: 1;
    }
} 
@keyframes slideUp {
    0%{
        transform: translatey(0);
        opacity: 1;
    }
    100%{
        transform: translatey(-10vh);
        opacity: 0;
    }
} 

/* ========================================================================> */
.box{
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: calc(var(--index) * 3.25);
    /* transform: translateX(-50%); */
     
    width: calc(var(--index) * 22.5);
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: var(--index); */
    margin-left: var(--index);
    background-color: transparent;
    border: none;
   
    cursor: pointer;
}
.range {
    --range-size:  calc(var(--index) * 1.125);
    --border-size: calc(var(--index) * .125);

    width: 70%;
    height:  var(--range-size);
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background-color: transparent;
    border: var(--border-size) solid transparent;
    border-radius: var(--range-size);
    box-shadow: -.25rem -.25rem .5rem rgba(255, 255, 255, .1),
                 .25rem  .25rem .5rem rgba(0, 0, 0, .35),
                 inset -.25rem -.25rem .5rem rgba(255, 255, 255, .1),
                 inset  .25rem  .25rem .5rem rgba(0, 0, 0, .35);
    overflow: hidden;
}
.range::-webkit-slider-thumb {
    position: relative;
    appearance: none;
    background-color: var(--inputColor);
    width: calc(var(--range-size) - var(--border-size));
    height: calc(var(--range-size) - var(--border-size));
    border-radius: 50%;
    box-shadow: -407px 0 0  400px var(--inputColor);
    cursor: grab;
    
}
#rangeValue{
    position: relative;
    text-align: center;
    width: calc(var(--index) * 3.25);
    
    font-size: calc(var(--index)* 1.125);
    font-family: kamerik-3d;
    /* color: #fff; */
    
    margin-left: calc(var(--index) * 1.25);
    background-color: transparent;
    border: calc(var(--index) * .125) solid transparent;
    border-radius: .625rem;
    box-shadow: -.25rem -.25rem .5rem rgba(255, 255, 255, .1),       
                 .25rem  .25rem .5rem rgba(0, 0, 0, .35);
}
#rangeValue:active{
    box-shadow: 
    inset -.25rem -.25rem .5rem rgba(255, 255, 255, .1),
    inset  .25rem  .25rem .5rem rgba(0, 0, 0, .35);
}

/* =========================================================================> */
.fail .input-wrapper{
   display: flex;
   position: relative;
}
.fail .input-wrapper input {
    display: none;
    height: calc(var(--index) * 3.25);
    width: calc(var(--index) * 13);
    margin-right: calc(var(--index) * .6);
    text-align: start;
    /* line-height: 12px; */
    
    background-color: transparent;
    font-size: var(--textSize);
    color: var(--textColor);
    opacity: 0;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
}
@keyframes slideRight {
    0%{
        transform: translatex(-10vh);
        opacity: 0;
    }
    100%{
        transform: translatex(0);
        opacity: 1;
    }
} 
@keyframes slideLeft {
    0%{
        transform: translatex(0);
        opacity: 1;
    }
    100%{
        transform: translatex(-10vh);
        opacity: 0;
    }
} 
.fail .input-wrapper .line {
    position: absolute;
    left: 0;
    bottom: calc(var(--index) * .225);
    width: calc(var(--index) * 13);
    height: 1px;
    border-radius: 5px;
    background: var(--textColor);
    box-shadow: -.25rem -.25rem .5rem rgba(255, 255, 255, .1),       
                 .25rem  .25rem .5rem rgba(0, 0, 0, .35),
          inset -.25rem -.25rem .5rem rgba(255, 255, 255, .1),
          inset  .25rem  .25rem .5rem rgba(0, 0, 0, .35);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;    
}
.fail .input-wrapper .icon.close {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(var(--index) * .675);
    width: calc(var(--index) * .675);
    transform: scale(0);
    transition: transform .5s linear; 
}
.fail .input-wrapper .icon.close .ionicon {
    height: 100%;
    width: auto;
    stroke: var(--textColor);
    fill: rgba(255, 255, 255, .1);
    filter: 
    drop-shadow(1px 1px 1px rgba(0, 0, 0, .65));
}

.load {
    display: flex;
}

select {
    display: none;
    width: calc(var(--index) * 13);
    margin-right: calc(var(--index) * .6);
    background-color: transparent;
    font-size:  var(--textSize);
    color: var(--menuColor);
    opacity: 0;
    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    }
select#load option{
    background: var(--backgroundColor);
}

.osmPanel{
    display: none;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .65);
    padding: 5000px;
}
@keyframes slideScale {
    0%{
    }
    100%{
    }
} 
#map{
    width: 60vw; 
    height: 400px;
}
#searchInput{
    /* display: none; */
    position: absolute;
    bottom: 0%;
    left: 0%;
    height:  var(--textSize);
    margin-left: 10px;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    text-align: center;
    font-size: var(--textSize);
    color: var(--backgroundColor);
    z-index: 800;
}
#map a{
    background: transparent;
    color: var(--textColor);
     font-weight: 900;
    /* border: none; */
}
.osmPanel #map .info{
    position: absolute;
    bottom: 0%;
    right: 0%;
    display: flex;
    flex-direction: column;
    width:  calc(var(--textSize) * 10);
    font-size: calc(var(--textSize) * .5);
    color: var(--backgroundColor);
    z-index: 800;
}

.osmPanel #map .icon.close {
    position: absolute;
    top: 0%;
    right: 0%;
    
    height: calc(var(--index) * .975);
    width: calc(var(--index) * .975);
 
    transform: scale(1) translate(-50%, 50%);
    transition: transform .5s linear; 
    cursor: pointer;
    z-index: 800;
}
.osmPanel #map .icon.close .ionicon {
    height: 100%;
    width: auto;
    stroke: var(--textColor);
    fill: rgba(255, 255, 255, .1);
    filter: 
    drop-shadow(1px 1px 1px rgba(0, 0, 0, .65));
}